<app-header></app-header>

<div class="container1">
    <div class="columna-izquierda">
        <p>Esta columna ocupa el 30% de la página.</p>
        
        <!-- Botones para cada modelo de Audi -->
        <button class="btn-modelos" >Audi A1</button>
        <button class="btn-modelos" >Audi A2</button>
        <button class="btn-modelos" >Audi A3</button>
        <button class="btn-modelos" >Audi A4</button>
        <button class="btn-modelos" >Audi A5</button>
        <button class="btn-modelos" >Audi A6</button>
        <button class="btn-modelos" >Audi A7</button>
        <button class="btn-modelos" >Audi A8</button>
      
        <!-- Información adicional que se muestra al hacer clic en el botón de un modelo -->
       
      </div>
      
      
    
    <div class="columna-derecha" routerLink="/Configuracion">
      <div class="car-card">
        <img src="coche1.jpg" alt="Coche 1">
        <h3>Audi A4</h3>
        <p>Valor: $40,000</p>
        <button>Ver detalles</button>
      </div>

      <div class="car-card">
        <img src="coche2.jpg" alt="Coche 2">
        <h3>Audi A6</h3>
        <p>Valor: $50,000</p>
        <button>Ver detalles</button>
      </div>

      <div class="car-card">
        <img src="coche3.jpg" alt="Coche 3">
        <h3>Audi Q5</h3>
        <p>Valor: $55,000</p>
        <button>Ver detalles</button>
      </div>
    </div>
</div>

<app-footer></app-footer>