<div class="modal-header">
      <h5 class="modal-title">Modificar Cesta</h5>
      <button type="button" class="close" aria-label="Close" (click)="cerrarModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form *ngIf="cesta">
        <div class="form-group">
          <label for="usuario">Usuario</label>
          <button mat-button [matMenuTriggerFor]="usuarioMenu" class="form-control">
            <div class="valign-center">
              <span>{{ obtenerNombreUsuario(cesta.id_usuario) }}</span>
              <i class="material-icons">arrow_drop_down</i>
            </div>
          </button>
          <mat-menu #usuarioMenu="matMenu">
            <button mat-menu-item *ngFor="let usuario of usuarios" (click)="cesta.id_usuario = usuario.id_usuario">
              {{ usuario.nombre }}
            </button>
          </mat-menu>
        </div>
        <div class="form-group">
          <label for="motor">Motor</label>
          <button mat-button [matMenuTriggerFor]="motorMenu" class="form-control">
            <div class="valign-center">
              <span>{{ obtenerNombreMotor(cesta.id_motor) }}</span>
              <i class="material-icons">arrow_drop_down</i>
            </div>
          </button>
          <mat-menu #motorMenu="matMenu">
            <button mat-menu-item *ngFor="let motor of motores" (click)="cesta.id_motor = motor.id_motor">
              {{ motor.motor }}
            </button>
          </mat-menu>
        </div>
        <div class="form-group">
          <label for="caballos">Caballos</label>
          <button mat-button [matMenuTriggerFor]="caballosMenu" class="form-control">
            <div class="valign-center">
              <span>{{ obtenerNombreCaballos(cesta.id_caballos) }}</span>
              <i class="material-icons">arrow_drop_down</i>
            </div>
          </button>
          <mat-menu #caballosMenu="matMenu">
            <button mat-menu-item *ngFor="let caballos of caballos" (click)="cesta.id_caballos = caballos.id">
              {{ caballos.caballos }}
            </button>
          </mat-menu>
        </div>
        <div class="form-group">
          <label for="modelo">Modelo</label>
          <button mat-button [matMenuTriggerFor]="modeloMenu" class="form-control">
            <div class="valign-center">
              <span>{{ obtenerNombreModelo(cesta.id_modelo) }}</span>
              <i class="material-icons">arrow_drop_down</i>
            </div>
          </button>
          <mat-menu #modeloMenu="matMenu">
            <button mat-menu-item *ngFor="let modelo of modelos" (click)="cesta.id_modelo = modelo.id_modelo">
              {{ modelo.modelo }}
            </button>
          </mat-menu>
        </div>
        <div class="form-group">
          <label for="caja">Caja</label>
          <button mat-button [matMenuTriggerFor]="cajaMenu" class="form-control">
            <div class="valign-center">
              <span>{{ obtenerNombreCaja(cesta.id_caja) }}</span>
              <i class="material-icons">arrow_drop_down</i>
            </div>
          </button>
          <mat-menu #cajaMenu="matMenu">
            <button mat-menu-item *ngFor="let caja of cajas" (click)="cesta.id_caja = caja.id_caja">
              {{ caja.nombre_caja }}
            </button>
          </mat-menu>
        </div>
        <div class="form-group">
          <label for="carburante">Carburante</label>
          <button mat-button [matMenuTriggerFor]="carburanteMenu" class="form-control">
            <div class="valign-center">
              <span>{{ obtenerNombreCarburante(cesta.id_carburante) }}</span>
              <i class="material-icons">arrow_drop_down</i>
            </div>
          </button>
          <mat-menu #carburanteMenu="matMenu">
            <button mat-menu-item *ngFor="let carburante of carburantes" (click)="cesta.id_carburante = carburante.id_carburante">
              {{ carburante.carburante }}
            </button>
          </mat-menu>
        </div>
        <div class="form-group">
          <label for="traccion">Tracción</label>
          <button mat-button [matMenuTriggerFor]="traccionMenu" class="form-control">
            <div class="valign-center">
              <span>{{ obtenerNombreTraccion(cesta.id_traccion) }}</span>
              <i class="material-icons">arrow_drop_down</i>
            </div>
          </button>
          <mat-menu #traccionMenu="matMenu">
            <button mat-menu-item *ngFor="let traccion of tracciones" (click)="cesta.id_traccion = traccion.id_traccion">
              {{ traccion.traccion }}
            </button>
          </mat-menu>
        </div>
        <div class="form-group">
          <label for="cilindrada">Cilindrada</label>
          <button mat-button [matMenuTriggerFor]="cilindradaMenu" class="form-control">
            <div class="valign-center">
              <span>{{ obtenerNombreCilindrada(cesta.id_cilindrada) }}</span>
              <i class="material-icons">arrow_drop_down</i>
            </div>
          </button>
          <mat-menu #cilindradaMenu="matMenu">
            <button mat-menu-item *ngFor="let cilindrada of cilindradas" (click)="cesta.id_cilindrada = cilindrada.id_cilindrada">
              {{ cilindrada.cilindrada }}
            </button>
          </mat-menu>
        </div>
        <div class="form-group">
          <label for="configuracion">Configuración</label>
          <input type="text" id="configuracion" [(ngModel)]="cesta.configuracion" name="configuracion" class="form-control" placeholder="Configuración" />
        </div>
        <div class="form-group">
          <label for="fecha_configuracion">Fecha de Configuración</label>
          <input type="date" id="fecha_configuracion" [(ngModel)]="cesta.fecha_configuracion" name="fecha_configuracion" class="form-control" />
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="guardarCambios()">Guardar Cambios</button>
      <button type="button" class="btn btn-secondary" (click)="cerrarModal()">Cerrar</button>
    </div>
    